/* Estilos globales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(120deg, #5d5858 80%, #0e0d0d 120%);
}
